.cases-item {
  padding-bottom: 15px;
  margin-bottom: 20px;
  perspective: 1000px;

  &--1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 95px;
  }

  &--2 {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  &--3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
  }

  &--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  &--5 {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 10;
  }

  &__thumb {
    position: relative;
    display: block;

    img {
      display: block;
      width: 100%;
      margin-bottom: 0;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #313131;
      max-width: 540px;
      padding: 45px;
      color: #fff;
      font-size: 22px;
      line-height: 33px;
    }

    .cases-item__description {
      display: none;
    }
  }

  &:hover {

    .cases-item__description {
      display: block;
    }
  }

  &__heading {
    display: flex;
    align-items: flex-end;
    margin-top: 1.3rem;

    svg {
      display: block;
      width: 47px;
    }

    .case-heading-text {
      padding-left: 10px;
      transform: translateY(15px);

      p, h3 {
        margin-bottom: 0;
      }

      p {
        color: #9A9A9A;
        display: inline;
      }

      h3 {
        font-weight: 400;
        font-size: 37px;

        a {
          color: inherit;
        }
      }
    }
  }
}

@media all and (max-width: 1300px) {
  .cases-item {

    &__thumb {

      span {
        padding: 25px;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}

@media all and (max-width: 992px) {
  .cases-item {
    width: 45%;
    margin-bottom: 100px;
    margin-right: 25px;

    &__thumb {

      span {
        display: none;
      }
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media all and (max-width: 768px) {
  .cases-item {
    width: 100%;
    margin-right: 0;

    &__heading {
      margin-top: 1rem;

      .case-heading-text {

        h3 {
          font-size: 22px;
        }
      }

      svg {
        width: 25px;
      }
    }
  }
}